*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

.flex{
    display: flex;
}

/* Main */
main{
    background-color: rgb(20, 20, 20);
    overflow: scroll
}

#vh{
    height: 100vh;
}

.container-90{
    width: 90%;
    margin: 7% auto;
}

img{
    background-size: cover;
}

.basis{
    flex-basis:14%;
    margin-bottom: 0.5%;
}

.wrap{
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.position-speaker{
    left: 0;
    bottom: 0;
}

main span{
    color: white;
    font-size: 10px;
}

.back-tras{
    padding:2px 5px;
    background-color: rgb(211, 211, 211, 0.4);
}

.position-info{
    top: 30px;
    right: 0;
}

.cl-back-1, .cl-back-2{
    background-color:grey;
    padding: 5px;
    margin: 0 5px;
    border-radius: 5px;
}

/* .border{
    border: 1px dashed white;
} */

/* Footer */
footer{
    background-color: rgb(53, 53, 53);
    height: 10vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
}

.fa-solid{
    color: white;
}

.fa-caret-up{
    font-size: 15px;
}


.icons{
    font-size: 25px;
}

.center{
    justify-content: center;
    align-items: center;
}

.center div{
    margin: 0 10px;
}

footer p{
    color: white;
    font-size: 15px;
}

.center div{
    flex-direction: column;
    align-items: center;
}

.cl-green{
    color: lightgreen;
}

.cl-red{
    color: red;
}

.p-space{
    padding-left: 20px;
    padding-right: 20px;

}

.cl-grey{
    background-color: rgb(146, 146, 146);
}

